$color-UltraLightGray: rgba(245, 245, 245, 1.0);
$color-MediumLightGray: rgba(215, 215, 215, 1.0);
$color-LightGray: rgba(188, 188, 188, 1.0);
$color-MediumGray: rgba(165, 165, 165, 1.0);
$color-DimGray: rgba(105, 105, 105, 1.0);
$color-DarkGray: rgba(70, 70, 70, 1.0);
$color-UltraDarkGray: rgba(40, 40, 40, 1.0);
$color-DarkOrange: rgba(247, 159, 31, 1.0);
$color-Green: rgba(0, 163, 0, 1.0);
$color-LightGreen: rgba(153, 180, 51, 1.0);
$color-LightPurple: rgba(159, 0, 167, 1.0);
$color-Warning: rgba(0, 171, 169, 1.0); //Teal
$color-Main: rgba(2, 103, 100, 1.0);
$color-RouteLine: rgba(2, 103, 100, 0.5);
$color-Complementary: rgba(0, 0, 0, 1.0);
$color-Secondary: rgba(153, 101, 21, 1.0); // Gold Brown
$color-Red: rgba(221, 0, 0, 1.0);
$color-DarkBlue: rgba(0, 10, 139, 1.0);

$color-Gold: rgba(211, 165, 23, 1.0)
